@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width:1025px) and (min-width:400px){
    .margin_align {
    margin-left: 0px;
}
} 
@media screen and (max-width:767px){
    .wrapper-full-12 .col-sm-8{
        display: none;
    }
} 
@media screen and (max-width:1500px) and (min-width:992px){
    .col-xs-4 .fa-angle-double-left{
        display: none;
    }
} 
@media screen and (max-width: 992px) and (min-width:767px) {
    .col-xs-4 .fa-angle-double-left{
        display: none;
    }
 .numberCircle {
    color: white;
    width: 14px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    background-color: #25D366;
}
.last-section {
    font-size: 11px;
    padding-top: 11px;
}
.font-style {
    font-size: 14px;
}
.img-width-margin {
    margin: 9px;
    width: 46px;
    height: 46px;
}
.form-control{
    width: 90%;
}
.font_change{
    font-size: 15px;
}
}

@media screen and (max-width:400px){
    .numberCircle {
    color: white;
    width: 14px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    background-color: #25D366;
}
.last-section {
    font-size: 10px;
    padding-top: 10px;
}
.font-style {
    font-size: 11px;
}
.img-width-margin {
    margin: 9px;
    width: 46px;
    height: 46px;
}
.form-block{
    width: 90%;
    padding-left: 13px;
}
.font_change{
    font-size: 15px;
}
.margin_align {
    margin-left: -24px;
}
.display_bottom .col-xs-10{
    width: 80%;
}

}
@media screen and (max-width:1084px){
    .img_height_width{
    width: 130px;
    height: 130px;
}
.dropdown-menu{
    margin: 2px 33px 0px;
    min-width: 129px;
    font-size: 10px;
}
.name_font{
    font-size: 1.5rem;
}
.name_font1{
    font-size: 1.5rem;
}
.name_section{
    padding: 1rem;
}

}
@media screen and (max-width:700px){
 .name_section{
        height: 20vmax;
        padding: 1.5rem;
}
.center_profile{
    height: 30vmax;
}
}
